body {
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
  }

  button {
    background-color: gray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .input-group label {
    width: 100px; /* adjust as needed */
  }
  
  .input-group input {
    flex-grow: 1;
  }